.git
.gitignore
.env
.env.backup
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/webapps/berkasrawat/pages/upload/*
docker-compose.override.yml
*.log
.DS_Store
.idea
.vscode
README.md
